@if (product) {
<div class="container my-5 product-detail-theme">
  <div class="row">
    <div class="col-md-6">
      <app-product-gallery
        [images]="product.images"
        [title]="product.title"
      ></app-product-gallery>
    </div>
    <div class="col-md-6">
      <h1 class="display-5 product-title">{{ product.title }}</h1>
      <p class="text-muted">{{ product.brand }} | SKU: {{ product.sku }}</p>

      <div class="rating mb-3">
        <span class="text-warning">
          <i class="bi bi-star-fill"></i> {{ product.rating }}
        </span>
        <span class="text-muted ms-2"
          >({{ product.reviews.length }} reviews)</span
        >
      </div>

      <div class="price-section mb-4">
        <h2 class="price-sale d-inline me-3">
          ${{ product | salePrice | number : "1.2-2" }}
        </h2>
        @if (product.discountPercentage && product.discountPercentage > 0) {
        <div class="d-inline">
          <span class="price-original text-decoration-line-through fs-5"
            >${{ product.price | number : "1.2-2" }}</span
          >
          <span class="badge discount-badge ms-2"
            >-{{ product.discountPercentage }}%</span
          >
        </div>
        }
      </div>

      <div class="divider"></div>

      <div class="d-flex align-items-center mb-4">
        <span class="me-3">จำนวน:</span>
        <app-quantity-selector
          [quantity]="quantity()"
          (increase)="incrementQuantity()"
          (decrease)="decrementQuantity()"
        ></app-quantity-selector>
        <span class="me-3 mx-2">คลัง: {{ product.stock }}</span>
      </div>

      <div class="actions">
        <button class="btn btn-outline-primary" (click)="addToCart()">
          <i class="bi bi-cart2"></i>
          เพิ่มไปยังรถเข็น
        </button>
        <button class="btn btn-primary">ซื้อสินค้า</button>
      </div>

      <div class="divider"></div>

      <div class="product-detail-section">
        @if (product.description) {
        <div>
          <h4>รายละเอียดสินค้า</h4>
          <p class="lead product-detail">{{ product.description }}</p>
        </div>
        }
        <div class="meta-info mb-4">
          <p>
            <strong>Availability:</strong>
            <span
              [class.text-success]="product.stock > 0"
              [class.text-danger]="product.stock === 0"
              >{{ product.availabilityStatus }}</span
            >
          </p>
          <p><strong>Shipping:</strong> {{ product.shippingInformation }}</p>
          <p><strong>Warranty:</strong> {{ product.warrantyInformation }}</p>
          <p><strong>Return Policy:</strong> {{ product.returnPolicy }}</p>
        </div>
      </div>
    </div>
  </div>
  @if (1) {

  <app-product-reviews [reviews]="product.reviews"></app-product-reviews>
  }
</div>
} @else {
<div class="container my-5 text-center">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <p class="mt-2">Loading product details...</p>
</div>
}
