<div class="login-form-container">
    <div class="text-center mb-5">
        <h2 class="mb-2 login-title">ยินดีต้อนรับสู่ Sale pages</h2>
        <p class="mb-4 login-desc">เริ่มต้นใช้งานได้ทันที พร้อมเข้าชมสินค้าและทำรายการสั่งซื้อได้อย่างง่ายดาย</p>
    </div>

    <form>
        <div class="mb-3">
            <input type="text" placeholder="Username or Email" class="form-control"
                aria-label="Username or Email">
        </div>

        <div class="text-center mb-5">
            <button type="submit" class="btn btn-primary btn-continue btn-lg w-100">
                ดำเนินการต่อ
            </button>
        </div>

        <div class="divider">
            <span class="divider-text bg-white">หรือ เข้าใช้งานผ่าน</span>
        </div>

        <div class="social-login d-flex justify-content-center mt-4 mb-4">
            <button type="button" class="social-button google mx-2" (click)="onSocialLogin('google')">
                <img [src]="googleIcon()" alt="Google">
            </button>
            <button type="button" class="social-button facebook mx-2" (click)="onSocialLogin('facebook')">
                <img [src]="facebookIcon()" alt="Facebook">
            </button>
            <button type="button" class="social-button line mx-2" (click)="onSocialLogin('line')">
                <img [src]="lineIcon()" alt="Line">
            </button>
        </div>
    </form>

    <p class="text-center text-policy login_policy">เมื่อดำเนินการต่อ จะถือว่าคุณได้อ่านและยอมรับข้อตกลงและเงื่อนไข และ
        นโยบายความเป็นส่วนตัว<br>
        <a href="#" class="fw-bold">ข้อตกลงและเงื่อนไข</a> และ <a href="#" class="fw-bold">นโยบายความเป็นส่วนตัว</a>
    </p>
</div>