.login-logo {
    width: 108px;
    object-fit: contain;
    margin: 0 auto;
}

.login-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #1C1C22;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.login-desc {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #383842;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #E5E7EB;
}

.divider span {
    background: #fff;
    padding: 0 10px;
}

.social-login {
    display: flex;
    // gap: 1rem;
    justify-content: center;
}

.social-button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #E5E7EB;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.social-button:hover {
    background-color: #F9FAFB;
}

.social-button img {
    width: 24px;
    height: 24px;
}

.login_policy {
    margin-top: 40px;
}

.text-policy{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #6A6A7C;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.form-control{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 12px;
    gap: 10px;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D2D2DA;
    border-radius: 6px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.form-control::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #BCBCC8;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.btn-primary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;
    width: 100%;
    height: 44px;
    background: #013CC5;
    border-radius: 6px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.btn-continue{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.divider-text{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #525260;
    flex: none;
    flex-grow: 0;
}