<div class="login-form-container">
    <div class="text-center mb-5">
        <h2 class="go5-text-header-3 mb-2 login-title">ยินดีต้อนรับสู่ SalesPages</h2>
        <p class="go5-text-body mb-4 login-desc">Sign in with your registered account to continue.</p>
    </div>

    <form>
        <div class="mb-3">
            <input 
                type="text" 
                [formControlName]="'username'" 
                placeholder="Username or Email"
                class="form-control" 
                aria-label="Username or Email"
            >
        </div>

        <div class="text-center mb-5">
            <button
                type="submit"
                class="btn btn-primary btn-lg w-100"
            >
                Continue
            </button>
        </div> 

        <div class="divider">
            <span class="go5-text-body bg-white">OR</span>
        </div>

        <div class="social-login d-flex justify-content-center mt-4 mb-4">
            <button class="social-button google mx-2" (click)="onSocialLogin('google')">
                <img [src]="'assets/images/socials/google.svg'" alt="Google">
            </button>
            <button class="social-button facebook mx-2" (click)="onSocialLogin('facebook')">
                <img [src]="'assets/images/socials/facebook.svg'" alt="Facebook">
            </button>
            <button class="social-button line mx-2" (click)="onSocialLogin('line')">
                <img [src]="'assets/images/socials/line.svg'" alt="Line">
            </button>
        </div>
    </form>

    <p class="go5-text-small text-center login_policy">
        By signing in, you agree to our<br>
        <a href="#" class="underline">ข้อตกลงและเงื่อนไข</a> และ <a href="#"
            class="underline">นโยบายความเป็นส่วนตัว</a>
    </p>
</div>