<div class="container row mt-5">
  <div class="col-12">
    <h3>Reviews</h3>
    <div class="list-group">
      @for (review of reviews; track review.reviewerName) {
      <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ review.reviewerName }}</h5>
          <small>{{ review.date | date }}</small>
        </div>
        <p class="mb-1">{{ review.comment }}</p>
        <small class="text-warning">Rating: {{ review.rating }}/5</small>
      </div>
      }
    </div>
  </div>
</div>
